<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.jboss.aerogear.android.unifiedpush.quickstart"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="org.jboss.aerogear.android.unifiedpush.quickstart.permission.C2D_MESSAGE"/>

    <permission android:name="org.jboss.aerogear.android.unifiedpush.quickstart.permission.C2D_MESSAGE"
                android:protectionLevel="signature"/>

    <application android:label="@string/app_name" android:name=".PushQuickstartApplication"
                 android:icon="@drawable/ic_launcher" android:theme="@android:style/Theme.Holo.Light">
        <activity android:name=".PushQuickstartLoginActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PushQuickstartActivity" android:label="@string/app_name" />
        <receiver
                android:name="org.jboss.aerogear.android.unifiedpush.AGPushMessageReceiver"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="org.jboss.aerogear.android.unifiedpush.quickstart"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
